@import '../../../styles/variables';

map {
    position: relative;
    height: 100%;
    order: 1;
    flex: 2 1 auto;
    z-index: 1;

    #map {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}
