language: node_js
branches:
  only:
    - master
node_js:
    - "6"
install:
    - npm install
script:
    - npm run build:prod
    - bash ./deploy.sh
env:
  global:
    - COMMIT_AUTHOR_EMAIL: "vincent.ogloblinsky@gmail.com"
    - ENCRYPTION_LABEL: 7f49d75a7681
