@import 'variables';

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $white;

    font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: bold;
    padding: 10px;
    position: absolute;
    font-size: 22px;
}

@import 'spinner';
