detail {
    width: 400px;
    height: 100%;
    flex-basis: auto;
    -webkit-flex-basis: auto;
    order: 2;
    -webkit-order: 2;
    padding: 15px;

    .container {
        background: white;
        padding: 15px;
        height: 100%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    }

    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }

    .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .logo {
        max-height: 100px;
    }
}
