detail {
    width: 400px;
    height: 100%;
    flex-basis: auto;
    -webkit-flex-basis: auto;
    order: 2;
    -webkit-order: 2;
    padding: 0 15px;

    background: white;

    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }

    .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .logo {
        max-height: 100px;
    }
}
