<div>
    <div *ngIf="conference.logo">
        <img src="{{conference.logo}}" class="logo"/>
    </div>
    <br/>
    <h1><b>{{conference.name}}</b></h1>
    <br/>
    <h2>{{conference.country}}</h2>
    <br/>
    <h2>{{conference.state}}</h2>
    <br/>
    <h2>{{conference.city}}</h2>
    <br/>
    <h2><a href="{{conference.website}}" target="_blank">{{conference.website}}</a></h2>
</div>
<button type="button" class="btn btn-primary btn-sm btn-close"
        (click)="close();"><i class="fa fa-times" aria-hidden="true"></i></button>
