@import '../../../styles/variables';

list {
    position: relative;
    height: 100%;
    order: 1;
    -webkit-order: 1;
    flex: 2 1 auto;
    -webkit-flex: 2 1 auto;
    z-index: 1;

    ul {
        list-style-type: none;
    }

    .name {
        color: $blue
    }
}

.regions-list {
    margin-top: 60px;

    > li {
        margin-bottom: 10px;
    }

    .conference-name {
        font-weight: bold;
        color: black;
    }
}
