<div class="top-buttons-group">
    <div ngbRadioGroup>
        <a routerLink="/timeline" class="btn btn-primary" routerLinkActive="active">
            Timeline
        </a>
        <a routerLink="/map" class="btn btn-primary" routerLinkActive="active">
            Map
        </a>
        <a routerLink="/list" class="btn btn-primary" routerLinkActive="active">
            List
        </a>
    </div>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
    <router-outlet name="detail"></router-outlet>
</div>
