@import '../../../styles/variables';

timeline {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    bottom: 0;

    #visualization {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
