@import '../../../styles/variables';

timeline {
    position: relative;
    height: 100%;
    order: 1;
    flex: 2 1 auto;

    #visualization {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
